.CreatPost {
  width: 80%;
  margin: auto;
}

.title {
  width: 90%;
  margin: auto;
}

.Post {
  width: 90%;
  margin: auto;
}

.Buttons {
  margin-left: 100px;
}
@media (min-width: 500px) {
  .CreatPost {
    width: 50%;
  }
}

.backButoon {
  margin-left: 150px;
  color: red;
}
