.MenuItem {
  margin: 0;
  display: block;
  width: 100%;
  align-items: center;
}

.MenuItem a {
  color: rgba(22, 199, 66, 0.521);
  text-decoration: none;
  height: 100%;
  display: block;
  padding: 16px 10px;
}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .MenuItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    background-color: #3b9db6;
  }

  .MenuItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .MenuItem a:hover,
  .MenuItem a:active,
  .MenuItem a.active {
    background-color: rgb(117, 189, 189);
    border-bottom: 4px solid #46ff40;
  }
}
