.Post {
  color: chartreuse;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}
.Space {
  background-color: rgb(52, 118, 138);
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
  color: rgb(137, 241, 38);
}
.Color {
  font-size: 18px;
  height: 45px;
  width: 150px;
  cursor: pointer;
  text-align: center;
}
.Color:hover {
  background-color: rgb(50, 223, 200);
}
.Color:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}
.Color:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.Space td {
  color: rgb(7, 49, 141);
}
.Button {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.PostEdge {
  margin: auto;
  width: 380px;
}
