.EditPost {
  width: 80%;
  margin: auto;
}

.title {
  width: 90%;
  margin: auto;
}

.Post {
  width: 90%;
  margin: auto;
}

.Buttons {
  margin-left: 100px;
}
@media (min-width: 500px) {
  .EditPost {
    width: 50%;
  }
}
